/*----------
     Fonts
------------ */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

/*------------------------------- 
    common styles or utilities 
--------------------------------*/
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #d3f1ff;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  background-color: #fff;
  width: 870px;
  padding: 30px;
  margin-top: 21px;
  border-radius: 5px;
}
hr {
  border: 1px solid #d1d1d1;
  margin-bottom: 27px;
}

/* ------------------
    Header Style
--------------------- */

header {
  background-color: #562eff;
  padding: 15px 0;
}
.nav-bar {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.h-left {
  display: flex;
  align-items: center;
  margin-left: 220px;
}
.h-left img {
  width: 40.42px;
  margin-right: 15px;
}

.h-left .page-name {
  font-size: 24px;
  font-weight: 500;
}

.h-left .page-name a {
  text-decoration: none;
  color: #fff;
}

.h-right {
  align-items: center;
  margin-right: 190px;
}
.h-right {
  display: flex;
}
.h-right a {
  color: #fff;
  text-decoration: none;
  margin-right: 30px;
  font-weight: 300;
  font-size: 16px;
}

/*------------------
     Top players style 
     ------------------*/
.top-players {
  margin-bottom: 30px;
}

.section-title {
  color: #562eff;
  font-size: 24px;
  margin-top: 3px;
}
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 30px;
}
.player {
  display: flex;
  align-items: center;
}
.player img {
  height: 56px;
  width: 56px;
}

.player-name {
  margin-left: 16px;
  font-size: 18px;
}

/* ------------------------
    Top blog style 
   ------------------------ */
.blogs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 26px;
  grid-column-gap: 40px;
}
.blog {
  display: flex;
  /* margin-left: 50px; */
}
.blog .thumbnail img {
  width: 177px;
  height: 117px;
}

.blog-info {
  margin-left: 16px;
}

.blog-title {
  font-size: 20px;
}

.blog-author {
  color: #9f9f9f;
  font-size: 16px;
}
.blog-author a {
  color: #562eff;
  text-decoration: none;
  font-size: 16px;
}

/* ----------------------
    Latest course style 
-------------------------*/
.courses {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 24px;
}

.course {
  width: 250px;
  box-shadow: 0px 5.34229px 13.3557px rgba(0, 0, 0, 5.55);
  border-radius: 20px;
  padding: 10px;
}

.course .course-banner img {
  /* width: 224px;
  height: 104px;*/
  width: 100%;
}

.course-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.course-author {
  color: #ed6b4f;
}
.course-duration {
  width: 90px;
  color: #ff4a60;
  background: #fee5df;
  border-radius: 15px;
  /* margin-left: 25px; */
}
.fa-star {
  font-size: 12px;
}

.fa-star.filled {
  color: #ffc014;
}

.fa-star.empty {
  color: #aeaeae;
}
.fa-clock {
  margin-left: 5px;
}

/* ---------------
    Media Queris
------------------ */

/* Mobile device */

@media only screen and (max-width: 688px) {
  .container {
    width: 100%;
  }
  .players,
  .blogs,
  .courses {
    grid-template-columns: repeat(1, 1fr);
  }
  .player,
  .blog,
  .courses {
    flex-direction: column;
  }
}

/* Tablet devices */

@media only screen and (min-width: 689px) and (max-width: 992px) {
  .container {
    width: 100%;
  }
  .players,
  .courses {
    grid-template-columns: repeat(2, 1fr);
  }
  .blogs {
    grid-template-columns: repeat(1, 1fr);
    flex-direction: column;
  }
  .player,
  .blog,
  .courses {
    flex-direction: column;
  }
}
